<form id="Dashboard" ng-controller="DashboardCtrl">
	
	<div class="group">      
      <label>Speed</label>
      <input type="text" ng-blur="validateNumber($event)" name="speed">
    <span class="highlight"></span>
      <span class="bar"></span>
  </div>

	
	<div class="group">      
      <label>Default Frame Duration</label>
      <input type="text" ng-model="universe.frameDuration">
    <span class="highlight"></span>
      <span class="bar"></span>
    </div>

	
	<div class="group">      
      <label>File Name</label>
      <input type="text" ng-model="universe.filename">
      <span class="highlight"></span>
      <span class="bar"></span>
  </div> 
	
	<button type="button" ng-click="generate()">Generate Gif</button>
</form>
