<polymer-element name="film-strip">
	<template>
		<style>
			:host {
				width: 100%;
				overflow: auto;
				display: block;
				white-space: nowrap;
				position: relative;
			}
			.item {
				width: 0;
				height: 0;
				position: relative;
				transition: left .3s;
			}
			.item > div {
				width: 100px;
				height: 200px;
			}
		</style>
			<template repeat="{{frame, index in universe.frames}}">
				<div class="item" style="left: {{index*100}}px;">
					<div>
						<div><img src="{{frame.image}}"></div>
						<div>{{frame.duration}}</div>
						<button index="{{index}}" on-click="{{lClick}}"><</button>
						<button index="{{index}}" on-click="{{xClick}}">X</button>
						<button index="{{index}}" on-click="{{rClick}}">></button>
					</div>
				</div>
			</template>
	</template>
	<script>
		Polymer({
			universe: getUniverse(),
			xClick: function(event, detail, sender) {
				removeFrame(parseInt(sender.getAttribute('index')));
			},
			lClick: function(event, detail, sender) {
				moveFrame(parseInt(sender.getAttribute('index')), -1);
			},
			rClick: function(event, detail, sender) {
				moveFrame(parseInt(sender.getAttribute('index')), 1);
			}
		});
	</script>
</polymer-element>
